.container {
  background: #080F18;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: 'EduMarfaVariable';
}

.main {
  min-height: 100vh;
  width: 84vw;
  flex: 1;
  background: #080F18;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  padding-top: 56px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 166px;
  justify-content: space-between;
  min-width: 84vw;
}
.logo {

  /* position: absolute;
  left: 10.47%;
  right: 85.05%;
  top: 5.01%;
  bottom: 93%; */
}

.content {
  display: flex;
  justify-content: left;
  width: 84vw;
  flex-direction: column;
  padding-bottom: 62px;
}



.content > h2, .learnMore > h2 {
  color: #6683A7;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.connectContainer {
  background: #132236;
  width: 84vw;
  height: 40vh;
  border-radius: 16px;
}

.learnMore {
  display: flex;
  justify-content: left;
  width: 84vw;
  flex-direction: column;
}

.linkContainer {
  width: 41.5vw;
  height: 20vh;
  background: #132236;
  border-radius: 16px;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84vw;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
