.container {
  background: #080F18;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: 'EduMarfaVariable';
}

.main {
  min-height: 100vh;
  width: 84vw;
  flex: 1;
  background: #080F18;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  padding-top: 56px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 166px;
  justify-content: space-between;
  min-width: 84vw;
  height: 25vh;
}
.logo {

  /* position: absolute;
  left: 10.47%;
  right: 85.05%;
  top: 5.01%;
  bottom: 93%; */
}

.content {
  display: flex;
  justify-content: left;
  width: 84vw;
  flex-direction: column;
  padding-bottom: 62px;
}

.connectWallet {
  color: #000;
  background: linear-gradient(114.67deg,hsla(0,0%,100%,.2) 16.59%,transparent 56.74%),linear-gradient(137.87deg,#f6f063 5.36%,hsla(2,64%,67%,0) 62.77%),linear-gradient(83.36deg,#ff3873 3.72%,#711eff 46.75%,#3fe5ff 94.51%);
}
.content > h2, .learnMore > h2 {
  color: #6683A7;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.connectContainer {
  background: #101A27;
  width: 84vw;
  height: 40vh;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet {
  width: 28vw;
  border-color: #132236;
  border-style: solid;
  border-width: 0px 1px 0px;
  border-top-width: 0px !important;
}

.avatars {
  display: flex;
  width: 28vw;
  justify-content: space-evenly;
  align-items: center;
}

.handshake {
  font-size: 3rem;
}
.connectWalletContent {
  padding-left: 10px;
}

.verify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-between; */
  height: 40vh;
}

.verify > div, .buttonContainer {
  padding-top: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signIn, .signOut{
  background-color: #512da8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 4px;
  width: 9.5vw;
}

.signIn:hover {
  background-color: #1a1f2e;
}


.signOut {
  background-color: #FFA099;
}

.signOut:hover {
  background-color: #1a1f2e;
}

.learnMore {
  display: flex;
  justify-content: left;
  width: 84vw;
  flex-direction: column;
}

.linkContainer {
  width: 41.5vw;
  height: 20vh;
  background: #101A27;
  border-radius: 16px;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84vw;
  padding-bottom: 163px;
}

.linkContent {
  display: flex;
  /* flex-direction: column; */
}

.linkText {
  padding-left: 24px;
}

.linkText > p {
  opacity: 0.8;
  width: 380px;
  height: 48px;
  font-size: 14px
}

.links {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.links > div {
  padding-left: 10px;
  padding-right: 10px;
}

.linkImage {
  background: #132236 !important;
}

.links > div > a {
  width: 110px;
  height: 24px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 10px;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: 84vw;
  opacity: .2;
  font-size: .75rem;

  letter-spacing: .05em;
}
.solanaIcon {
  padding-top: 4px;
}

.footerText {
  padding-right: 10px;
  padding-top: 3.5px;
}
.footer > a {
  height: 20px;
  width: 20px;
}
/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

.socials {
  padding-left: 90px;
  padding-bottom: 10px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
